.blueheader {
  display: block;
  position: relative;
  background-color: $grey-200;
  margin: 0;

  .container {
    display: flex;
    position: relative;
    width: 1080px;
    margin: 0 auto;
    top: 0;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .logo {
      display: block;
      position: relative;
      font-family: "Roboto", Helvetica, "Roboto", "Helvetica", "Arial", sans-serif;
      font-size: 25px;
      line-height: 25px;
      padding: 25px 0;
      color: $bluegrey-900;
      font-weight: 300;
    }
    .spacer {
      flex: 1;
      pointer-events: none;
    }
    .user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;

      span.email {
        display: block;
        margin-bottom: 3px;
        font-family: "Roboto", Helvetica, "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 16px;
        color: $grey-800;
      }
      a.logout {
        font-family: "Roboto", Helvetica, "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: $grey-600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
