body, html {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $grey-200;

  min-height: 100%;
}
body.backstage-container {
  padding-top: 72px;
}
.container {
  display: block;
  position: relative;
  width: 1080px;
  margin: 0 auto;
}
.clearfix:after {
  content:"";
  display:table;
  clear:both;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}