/* ANIMATION SPLINES */
$easeOutExpo   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInExpo    : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOutExpo : cubic-bezier(1.000, 0.000, 0.000, 1.000);

/* COLOR PALLETE */
$text-primary          : rgba(0, 0, 0, .87);
$text-secondary        : rgba(0, 0, 0, .54);
$text-disabled         : rgba(0, 0, 0, .38);
$white-text-primary    : rgb(255, 255, 255);
$white-text-secondary  : rgba(255, 255, 255, .70);
$white-text-disabled   : rgba(255, 255, 255, .30);
$grey-50      : #FAFAFA;
$grey-100     : #F5F5F5;
$grey-200     : #EEEEEE;
$grey-300     : #E0E0E0;
$grey-400     : #BDBDBD;
$grey-500     : #9E9E9E;
$grey-600     : #757575;
$grey-700     : #616161;
$grey-800     : #424242;
$grey-900     : #212121;
$bluegrey-50  : #ECEFF1;
$bluegrey-100 : #CFD8DC;
$bluegrey-200 : #B0BEC5;
$bluegrey-300 : #90A4AE;
$bluegrey-400 : #78909C;
$bluegrey-500 : #607D8B;
$bluegrey-600 : #546E7A;
$bluegrey-700 : #455A64;
$bluegrey-800 : #37474F;
$bluegrey-900 : #263238;