@import "../../bower_components/mui/src/sass/mui/colors";

$mui-primary-color:       mui-color('grey', '700');
$mui-primary-color-dark:  mui-color('grey', '900');
$mui-primary-color-light: mui-color('grey', '100');

$mui-accent-color:        mui-color('light-blue', 'A200');
$mui-accent-color-dark:   mui-color('light-blue', 'A100');
$mui-accent-color-light:  mui-color('light-blue', 'A400');

@import "partials/font";
@import "../../bower_components/mui/src/sass/mui/mixins/typography";
@import "../../bower_components/mui/src/sass/mui/typography";

$mui-base-font-family: "Roboto", Helvetica, "Arial", sans-serif;
$mui-base-font-size:   12px;
$mui-base-line-height: 1;

@import "../../bower_components/mui/src/sass/mui/variables";
@import "../../bower_components/mui/src/sass/mui/mixins/util";
@import "../../bower_components/mui/src/sass/mui/forms";

$mui-form-group-margin-bottom: 5px;
$mui-input-font-size: 14px;

// import MUI SASS

@import "../../bower_components/mui/src/sass/mui";
