html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* ANIMATION SPLINES */
/* COLOR PALLETE */
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }
.blueheader {
  display: block;
  position: relative;
  background-color: #EEEEEE;
  margin: 0; }
  .blueheader .container {
    display: flex;
    position: relative;
    width: 1080px;
    margin: 0 auto;
    top: 0;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .blueheader .container .logo {
      display: block;
      position: relative;
      font-family: "Roboto", Helvetica, "Roboto", "Helvetica", "Arial", sans-serif;
      font-size: 25px;
      line-height: 25px;
      padding: 25px 0;
      color: #263238;
      font-weight: 300; }
    .blueheader .container .spacer {
      flex: 1;
      pointer-events: none; }
    .blueheader .container .user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right; }
      .blueheader .container .user span.email {
        display: block;
        margin-bottom: 3px;
        font-family: "Roboto", Helvetica, "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 16px;
        color: #424242; }
      .blueheader .container .user a.logout {
        font-family: "Roboto", Helvetica, "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: #757575; }
        .blueheader .container .user a.logout:hover {
          text-decoration: underline; }

body {
  padding: 0;
  margin: 0;
  background-color: #F5F5F5; }
  body * {
    font-family: "Roboto", Helvetica, "Roboto", "Helvetica", "Arial", sans-serif; }
  body .container {
    display: block;
    position: relative;
    width: 1080px;
    top: 50px;
    margin: 0 auto; }
    body .container .schedule {
      display: flex;
      flex: 1; }
      body .container .schedule .day {
        flex: 1;
        text-align: left;
        font-size: 18px;
        font-weight: 300;
        opacity: 0.85;
        -webkit-transition: opacity 100ms cubic-bezier(0.4, 0, 1, 1);
        -moz-transition: opacity 100ms cubic-bezier(0.4, 0, 1, 1);
        -o-transition: opacity 100ms cubic-bezier(0.4, 0, 1, 1);
        transition: opacity 100ms cubic-bezier(0.4, 0, 1, 1); }
        body .container .schedule .day:hover {
          opacity: 1; }
        body .container .schedule .day > header {
          display: flex;
          position: relative;
          background-color: #607D8B;
          padding: 15px;
          cursor: default;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: white; }
        body .container .schedule .day > .course {
          height: 40px;
          border-bottom: 1px solid #E0E0E0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 14px;
          color: #212121;
          text-align: left;
          padding: 0 15px; }
      body .container .schedule .loading {
        display: block;
        position: relative;
        flex: 1;
        height: 300px;
        line-height: 300px;
        text-align: center;
        font-size: 40px;
        color: #78909C;
        font-weight: 300; }
  body .pane-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  body .pane {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    body .pane header.main {
      display: block;
      position: relative;
      padding: 80px 20px 20px 20px;
      background-color: #607D8B;
      font-size: 20px;
      color: #fff;
      font-weight: 300;
      cursor: default; }
      body .pane header.main > i.close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        cursor: pointer;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 15px;
        -webkit-transition: background-color 100ms cubic-bezier(0.4, 0, 1, 1);
        -moz-transition: background-color 100ms cubic-bezier(0.4, 0, 1, 1);
        -ms-transition: background-color 100ms cubic-bezier(0.4, 0, 1, 1);
        -o-transition: background-color 100ms cubic-bezier(0.4, 0, 1, 1);
        transition: background-color 100ms cubic-bezier(0.4, 0, 1, 1); }
        body .pane header.main > i.close:hover {
          background-color: #455A64; }
    body .pane main.parent {
      display: block;
      position: relative;
      padding: 20px;
      color: rgba(0, 0, 0, 0.54); }
    body .pane .group-headline {
      border-bottom: 1px solid #E0E0E0; }
    body .pane .loading {
      display: block;
      position: relative;
      height: 250px;
      line-height: 250px;
      font-size: 30px;
      font-weight: 300;
      color: #90A4AE; }
    body .pane form {
      margin-bottom: 20px; }
      body .pane form .inline {
        display: flex; }
        body .pane form .inline .mui-textbox {
          flex: 1; }
    body .pane .actions {
      text-align: right; }
    body .pane .daily-table {
      display: block;
      position: relative; }
      body .pane .daily-table .time {
        flex-basis: 50px; }
      body .pane .daily-table .col {
        flex: 1; }
      body .pane .daily-table .actions {
        flex-basis: 30px; }
      body .pane .daily-table > header {
        display: flex;
        position: relative;
        padding: 15px;
        background-color: #607D8B;
        color: white;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: left;
        font-size: 18px;
        font-weight: 300; }
        body .pane .daily-table > header * {
          color: white; }
      body .pane .daily-table .row {
        display: flex;
        padding: 0 15px;
        height: 40px;
        border-bottom: 1px solid #E0E0E0; }
        body .pane .daily-table .row .col {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 14px;
          color: #212121;
          text-align: left; }
        body .pane .daily-table .row .actions {
          text-align: right;
          line-height: 40px; }
          body .pane .daily-table .row .actions i.material-icons {
            line-height: 40px;
            -webkit-transition: color 200ms cubic-bezier(0.4, 0, 1, 1);
            -moz-transition: color 200ms cubic-bezier(0.4, 0, 1, 1);
            -ms-transition: color 200ms cubic-bezier(0.4, 0, 1, 1);
            -o-transition: color 200ms cubic-bezier(0.4, 0, 1, 1);
            transition: color 200ms cubic-bezier(0.4, 0, 1, 1);
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
            body .pane .daily-table .row .actions i.material-icons:hover {
              color: #455A64; }
            body .pane .daily-table .row .actions i.material-icons:active {
              color: #263238; }

/*# sourceMappingURL=schedule.css.map */
