@import "partials/reset";
@import "partials/palette";
@import "partials/shadow";
@import "partials/variables";
@import "partials/font";
@import "components/blueheader";

body {
  padding: 0;
  margin: 0;
  background-color: $grey-100;

  * {
    font-family: "Roboto", Helvetica, "Roboto", "Helvetica", "Arial", sans-serif;
  }

  .container {
    display: block;
    position: relative;
    width: 1080px;
    top: 50px;
    margin: 0 auto;

    .schedule {
      display: flex;
      flex: 1;

      .day {
        flex: 1;
        text-align: left;
        font-size: 18px;
        font-weight: 300;
        opacity: 0.85;

        -webkit-transition: opacity 100ms $animation-curve-fast-out-linear-in;
        -moz-transition: opacity 100ms $animation-curve-fast-out-linear-in ;
        -o-transition: opacity 100ms $animation-curve-fast-out-linear-in ;
        transition: opacity 100ms $animation-curve-fast-out-linear-in ;

        &:hover {
          opacity: 1;
        }

        > header {
          display: flex;
          position: relative;
          background-color: $bluegrey-500;
          padding: 15px;
          cursor: default;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          color: $white-text-primary;
        }
        > .course {
          height: 40px;
          border-bottom: 1px solid $grey-300;

          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 14px;
          color: $grey-900;
          text-align: left;
          padding: 0 15px;
        }
      }

      .loading {
        display: block;
        position: relative;
        flex: 1;
        height: 300px;
        line-height: 300px;
        text-align: center;
        font-size: 40px;
        color: $bluegrey-400;
        font-weight:300;
      }
    }
  }

  .pane-overlay {
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .pane {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
    @include shadow-16dp();

    header.main {
      display: block;
      position: relative;
      padding: 80px 20px 20px 20px;
      background-color: $bluegrey-500;
      font-size: 20px;
      color: #fff;
      font-weight: 300;
      cursor: default;

      > i.close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        cursor: pointer;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 15px;
        -webkit-transition: background-color 100ms $animation-curve-fast-out-linear-in;
        -moz-transition: background-color 100ms $animation-curve-fast-out-linear-in;
        -ms-transition: background-color 100ms $animation-curve-fast-out-linear-in;
        -o-transition: background-color 100ms $animation-curve-fast-out-linear-in;
        transition: background-color 100ms $animation-curve-fast-out-linear-in;

        &:hover {
          background-color: $bluegrey-700;
        }
      }
    }
    main.parent {
      display: block;
      position: relative;
      padding: 20px;
      color: $text-secondary;
    }

    .group-headline {
      border-bottom: 1px solid $grey-300;
    }

    .loading {
      display: block;
      position: relative;
      height: 250px;
      line-height: 250px;
      font-size: 30px;
      font-weight:300;
      color: $bluegrey-300;
    }

    form {
      margin-bottom: 20px;
      .inline {
        display: flex;
        .mui-textbox {
          flex: 1;
        }
      }
    }
    .actions {
      text-align: right;
    }

    .daily-table {
      display: block;
      position: relative;

      .time {
        flex-basis: 50px;
      }
      .col {
        flex: 1;
      }
      .actions {
        flex-basis: 30px;
      }

      > header {
        display: flex;
        position: relative;
        padding: 15px;
        background-color: $bluegrey-500;
        color: $white-text-primary;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: left;
        font-size: 18px;
        font-weight: 300;

        * {
          color: $white-text-primary;
        }
      }
      .row {
        display: flex;
        padding: 0 15px;
        height: 40px;
        border-bottom: 1px solid $grey-300;

        .col {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 14px;
          color: $grey-900;
          text-align: left;
        }
        .actions {
          text-align: right;
          line-height: 40px;
          i.material-icons {
            line-height: 40px;
            -webkit-transition: color 200ms $animation-curve-fast-out-linear-in;
            -moz-transition: color 200ms $animation-curve-fast-out-linear-in;
            -ms-transition: color 200ms $animation-curve-fast-out-linear-in;
            -o-transition: color 200ms $animation-curve-fast-out-linear-in;
            transition: color 200ms $animation-curve-fast-out-linear-in;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:hover {
              color: $bluegrey-700;
            }
            &:active {
              color: $bluegrey-900;
            }
          }
        }
      }
    }

  }
}
