@import "partials/reset";
@import "partials/palette";
@import "partials/shadow";
@import "partials/variables";
@import "partials/font";

body {
  background-color: $grey-100;
}

.container {
  display: block;
  position: relative;
  width: 400px;
  top: 200px;
  margin: 0 auto;
  background-color: #ffffff;
  @include shadow-2dp();

  > form {
    display: block;
    padding: 25px;

    .textbox {
      width: 100%;
    }
    .actions {
      margin-top: 20px;
      text-align: right;
      * {
        margin: 0;
      }
    }
  }
}