html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* ANIMATION SPLINES */
/* COLOR PALLETE */
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/res/font/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }
body {
  background-color: #F5F5F5; }

.container {
  display: block;
  position: relative;
  width: 400px;
  top: 200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .container > form {
    display: block;
    padding: 25px; }
    .container > form .textbox {
      width: 100%; }
    .container > form .actions {
      margin-top: 20px;
      text-align: right; }
      .container > form .actions * {
        margin: 0; }

/*# sourceMappingURL=userform.css.map */
